body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("../images/table.jpg");
  min-height: 100vw;
  min-height: 100vh; }
  body .sidenav {
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    right: -250px;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box; }
    body .sidenav.active {
      right: 0; }
    body .sidenav h1 {
      padding: 15px 30px; }
    body .sidenav a {
      display: block;
      padding: 15px 30px;
      text-decoration: none;
      font-size: 20px; }
      body .sidenav a:hover {
        background-color: #e6e6e6; }
  body .shadow {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: black;
    opacity: 0.0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    body .shadow.active {
      visibility: visible;
      opacity: 0.5; }
  body .header {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); }
    body .header a {
      color: white;
      font-size: 25px;
      line-height: 55px;
      text-decoration: none;
      display: inline-block;
      margin-left: 10px; }
    body .header .header-button {
      position: fixed;
      z-index: 9000;
      right: 0px;
      top: 0px;
      padding: 0;
      width: 2.5em;
      height: 2.25em;
      border: none;
      text-indent: 2.5em;
      font-size: 1.5em;
      color: transparent;
      background: transparent;
      outline: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    body .header .header-button::before {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      bottom: 1.0em;
      left: 1.0em;
      background: linear-gradient(#FFFFFF 20%, transparent 20%, transparent 40%, #FFFFFF 40%, #FFFFFF 60%, transparent 60%, transparent 80%, #FFFFFF 80%);
      content: ''; }
    body .header .header-button:hover {
      cursor: hand;
      cursor: pointer;
      opacity: 0.6; }
  body .fb-login {
    height: 30px;
    position: fixed;
    display: block;
    bottom: 20px;
    right: 50px;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    text-align: right; }
    body .fb-login:hover {
      opacity: 1.0;
      cursor: pointer; }
    body .fb-login img {
      position: absolute;
      right: -35px;
      top: 0;
      width: 30px;
      height: 30px;
      vertical-align: middle; }
    body .fb-login span {
      color: white; }
      body .fb-login span.login {
        line-height: 30px; }
    body .fb-login a {
      color: white; }
  body .single-sitting {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 0px 50px;
    box-sizing: border-box;
    display: table; }
    body .single-sitting .side {
      position: relative;
      display: table-cell; }
      body .single-sitting .side.left {
        padding: 20px;
        width: 50%; }
        body .single-sitting .side.left h3 {
          margin: 0;
          font-size: 60px;
          font-weight: 100; }
        body .single-sitting .side.left table {
          margin-top: 15px; }
          body .single-sitting .side.left table a {
            color: blue; }
            body .single-sitting .side.left table a:after {
              border-color: black;
              width: 0;
              height: 0;
              border-top: 60px solid transparent;
              border-bottom: 60px solid transparent;
              border-left: 60px solid green; }
      body .single-sitting .side.right label {
        display: block;
        margin-top: 10px;
        text-align: center;
        font-size: 13px; }
      body .single-sitting .side.right h4 {
        display: block;
        text-align: center;
        margin-bottom: 0px; }
      body .single-sitting .side.right span {
        text-align: center;
        display: block;
        margin-bottom: 15px; }
  body div.button {
    display: block;
    background-color: white;
    padding: 25px;
    margin-top: 15px;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    cursor: pointer; }
    body div.button.disabled {
      cursor: not-allowed; }
      body div.button.disabled:hover {
        opacity: 0.7;
        border: 1px solid white; }
    body div.button:hover {
      opacity: 1.0;
      border: 1px solid black; }
  @media screen and (max-width: 750px) {
    body .single-sitting .side {
      display: block;
      text-align: center;
      width: 100%; }
      body .single-sitting .side.left {
        padding: 5px;
        width: 100%; }
        body .single-sitting .side.left h3 {
          font-size: 30px; } }
  body .userSettings {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 0px 50px;
    box-sizing: border-box; }
    body .userSettings .left {
      padding: 20px;
      min-width: 270px;
      width: 35%; }
    body .userSettings .left .category {
      margin-top: 10px; }
    body .userSettings .left input[type="text"] {
      float: right;
      margin-right: 25px; }
    body .userSettings .left button {
      float: right;
      margin-right: 25px;
      background-color: red;
      border: none;
      font-size: 20px; }
    body .userSettings button:hover {
      cursor: pointer; }
  body .interest-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 0px 50px;
    box-sizing: border-box;
    display: table;
    text-align: center; }
    body .interest-content h2 {
      font-weight: 100;
      font-size: 50px;
      margin-bottom: 0px; }
    body .interest-content p {
      margin-top: 0; }
    body .interest-content form {
      margin: 25px 0; }
    body .interest-content span {
      display: block;
      margin-bottom: 10px; }
    body .interest-content textarea {
      display: block;
      margin: auto; }
    body .interest-content input[type="submit"] {
      margin-top: 20px; }
  body .party-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 0px 50px;
    box-sizing: border-box;
    display: table; }
    body .party-content .side {
      position: relative;
      display: table-cell;
      padding: 5px; }
      body .party-content .side.left h4 {
        font-size: 15px;
        display: block;
        margin: 0;
        margin-top: 10px; }
      body .party-content .side.left p {
        margin: 5px 0;
        max-width: 325px; }
      body .party-content .side.right table {
        margin-top: 15px;
        font-size: 12px; }
      body .party-content .side.right .btn {
        padding: 15px;
        background-color: #e6e6e6;
        color: #333;
        text-decoration: none;
        display: block;
        text-align: center;
        opacity: 0.7;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border: 1px solid white;
        cursor: pointer; }
        body .party-content .side.right .btn:hover {
          opacity: 1.0;
          border: 1px solid #b3b3b3; }
        body .party-content .side.right .btn.primary {
          background-color: #104050;
          color: white; }
        body .party-content .side.right .btn.disabled {
          cursor: not-allowed; }
          body .party-content .side.right .btn.disabled:hover {
            opacity: 0.7;
            border: 1px solid white; }
  body div.button {
    display: block;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    cursor: pointer;
    background-color: white;
    padding: 25px;
    margin-top: 15px; }
    body div.button:hover {
      opacity: 1.0;
      border: 1px solid #b3b3b3; }
    body div.button.primary {
      background-color: #104050;
      color: white; }
    body div.button.disabled {
      cursor: not-allowed; }
      body div.button.disabled:hover {
        opacity: 0.7;
        border: 1px solid white; }
  @media screen and (max-width: 750px) {
    body .party-content .side {
      display: block; } }
  body .booking-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 0px 50px;
    box-sizing: border-box;
    display: table;
    text-align: center; }
    body .booking-content h2 {
      font-weight: 100;
      font-size: 50px;
      margin-bottom: 0px; }
    body .booking-content p {
      margin-top: 0; }
    body .booking-content form {
      margin: 25px 0; }
    body .booking-content span {
      display: block;
      margin-bottom: 10px; }
  body .content {
    margin-top: 100px;
    max-width: 712px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px; }
    body .content .title {
      height: 100px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      text-align: center;
      font-size: 60px;
      color: white; }
    body .content table {
      text-align: left;
      width: 100%; }
    body .content .event-grid {
      margin-left: auto;
      margin-right: auto;
      width: 90%; }
      body .content .event-grid .event-link {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
        color: black;
        opacity: 0.9; }
        body .content .event-grid .event-link:hover {
          opacity: 1.0; }
      body .content .event-grid #event-creator {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 0.9; }
        body .content .event-grid #event-creator:hover {
          opacity: 1.0; }
      body .content .event-grid .event-window {
        background-color: white;
        margin-left: 10px;
        margin-top: 10px;
        float: left;
        width: 150px;
        height: 150px;
        -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-align: center;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;
        border: 1px solid white; }
        body .content .event-grid .event-window:hover {
          border: 1px solid #333; }
        body .content .event-grid .event-window .width {
          width: 150px;
          overflow: hidden; }
          body .content .event-grid .event-window .width .event-window-date {
            margin-top: 20px;
            font-size: 60px; }
          body .content .event-grid .event-window .width .event-window-spots {
            margin-top: 5px; }
          body .content .event-grid .event-window .width .event-window-button {
            margin-top: 5px; }
            body .content .event-grid .event-window .width .event-window-button a {
              text-decoration: none;
              color: black;
              font-style: italic; }
            body .content .event-grid .event-window .width .event-window-button a:hover {
              text-decoration: underline; }
          body .content .event-grid .event-window .width .event-remove-button {
            position: absolute;
            cursor: pointer;
            right: -5px;
            top: -5px;
            border: none;
            border-radius: 59px;
            height: 20px;
            width: 20px;
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out; }
            body .content .event-grid .event-window .width .event-remove-button:hover {
              color: #eee;
              background-color: #333; }
      body .content .event-grid .event-window.created {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        width: 0px; }
      body .content .event-grid .event-window.created.show {
        opacity: 1;
        width: 150px; }
      body .content .event-grid .event-window.remove {
        opacity: 0;
        width: 0px; }
      body .content .event-grid #event-creator p {
        padding: 0;
        margin: 0;
        height: 150px;
        line-height: 140px;
        font-size: 100px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
      body .content .event-grid #event-creator input {
        padding: 0;
        margin: 0;
        border: 0;
        background: transparent;
        outline: none;
        width: 150px;
        height: 120px;
        line-height: 80px;
        font-size: 30px;
        text-align: center; }
      body .content .event-grid #event-creator p:hover {
        cursor: pointer; }
      body .content .event-grid #event-creator button {
        position: absolute;
        bottom: 10px;
        border: none;
        width: 25px;
        height: 25px;
        color: transparent; }
      body .content .event-grid #event-creator button:focus {
        outline: none; }
      body .content .event-grid #event-creator button:hover {
        cursor: pointer; }
      body .content .event-grid #event-creator #reject {
        background: url("../images/reject.png") no-repeat;
        background-size: 100% 100%;
        left: 10px; }
      body .content .event-grid #event-creator #confirm {
        background: url("../images/confirm.png") no-repeat;
        background-size: 100% 100%;
        right: 10px; }

/*# sourceMappingURL=main.css.map */
