.section {
  position: relative;
  display: block;
  background-color: white;
  width: 100%;
  min-height: 200px;
  padding: 15px 25px;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  background-color: #333;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vw;
  min-height: 100vh; }
  body .content {
    margin-top: 100px;
    max-width: 712px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px; }
    body .content .title, body .content h2 {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      font-size: 60px;
      color: white;
      font-weight: 100; }
    body .content .button {
      display: block;
      background-color: white;
      padding: 25px;
      margin: 15px 0px;
      text-align: center;
      opacity: 0.7;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border: 1px solid white;
      cursor: pointer;
      text-decoration: none;
      color: #333; }
      body .content .button.disabled {
        cursor: not-allowed; }
        body .content .button.disabled:hover {
          opacity: 0.7;
          border: 1px solid white; }
      body .content .button:hover {
        opacity: 1.0;
        border: 1px solid black; }
    body .content table {
      text-align: left;
      width: 100%; }
      body .content table.fancy {
        border: 1px solid #4a6b83;
        border-spacing: 0;
        border-collapse: collapse; }
        body .content table.fancy th {
          text-align: left;
          padding-top: 5px;
          padding-bottom: 4px;
          background-color: #4a6b83;
          color: #fff; }
        body .content table.fancy th, body .content table.fancy td {
          border: 1px solid #4a6b83;
          padding: 3px 7px 2px 7px;
          box-sizing: border-box; }
      body .content table tr.odd {
        background-color: #dfe7ed; }
    body .content .myForm {
      margin: 25px auto;
      width: 90%;
      max-width: 300px; }
    body .content input[type=submit], body .content .formcancel {
      display: block;
      text-align: center;
      opacity: 0.7;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border: 1px solid white;
      cursor: pointer;
      display: inline-block;
      margin: 10px 0;
      padding: 7px 10px;
      border: 1px solid #ccc; }
      body .content input[type=submit]:hover, body .content .formcancel:hover {
        opacity: 1.0;
        border: 1px solid #b3b3b3; }
      body .content input[type=submit].primary, body .content .formcancel.primary {
        background-color: #104050;
        color: white; }
      body .content input[type=submit].disabled, body .content .formcancel.disabled {
        cursor: not-allowed; }
        body .content input[type=submit].disabled:hover, body .content .formcancel.disabled:hover {
          opacity: 0.7;
          border: 1px solid white; }
      body .content input[type=submit]:hover, body .content input[type=submit]:focus, body .content .formcancel:hover, body .content .formcancel:focus {
        border: 1px solid #4a6b83; }
    body .content input[type=radio] {
      margin: 25px 15px;
      transform: scale(1.1);
      cursor: pointer; }
    body .content input[type=checkbox] {
      width: 16px;
      height: 16px;
      vertical-align: middle;
      transform: scale(1.1);
      cursor: pointer; }
    body .content select {
      outline: none;
      border: 1px solid #ccc;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      margin: 5px 10px; }
      body .content select:hover {
        border: 1px solid #4a6b83; }
    body .content input[type=email], body .content input[type=password], body .content input[type=text], body .content input[type=tel], body .content input[type=number], body .content textarea {
      display: block;
      outline: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border: 1px solid #ccc;
      margin: 5px 0px;
      padding: 10px 15px;
      width: 100%;
      max-width: 250px; }
      body .content input[type=email]:hover, body .content input[type=email]:focus, body .content input[type=password]:hover, body .content input[type=password]:focus, body .content input[type=text]:hover, body .content input[type=text]:focus, body .content input[type=tel]:hover, body .content input[type=tel]:focus, body .content input[type=number]:hover, body .content input[type=number]:focus, body .content textarea:hover, body .content textarea:focus {
        border: 1px solid #4a6b83; }
  body .header {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #333;
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); }
    body .header a {
      color: white;
      font-size: 25px;
      line-height: 55px;
      text-decoration: none;
      display: inline-block;
      margin-left: 10px; }
    body .header .header-button {
      position: fixed;
      z-index: 9000;
      right: 0px;
      top: 0px;
      padding: 0;
      width: 2.5em;
      height: 2.25em;
      border: none;
      text-indent: 2.5em;
      font-size: 1.5em;
      color: transparent;
      background: transparent;
      outline: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    body .header .header-button::before {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      bottom: 1.0em;
      left: 1.0em;
      background: linear-gradient(#FFFFFF 20%, transparent 20%, transparent 40%, #FFFFFF 40%, #FFFFFF 60%, transparent 60%, transparent 80%, #FFFFFF 80%);
      content: ''; }
    body .header .header-button:hover {
      cursor: hand;
      cursor: pointer;
      opacity: 0.6; }
  body .sidenav {
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    right: -250px;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box; }
    body .sidenav.active {
      right: 0; }
    body .sidenav h1 {
      padding: 15px 30px; }
    body .sidenav a {
      display: block;
      padding: 15px 30px;
      text-decoration: none;
      font-size: 20px; }
      body .sidenav a:hover {
        background-color: #e6e6e6; }
  body .shadow {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: black;
    opacity: 0.0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    body .shadow.active {
      visibility: visible;
      opacity: 0.5; }
  body footer {
    background-color: #333;
    padding: 100px;
    box-sizing: border-box;
    color: #eee;
    margin-top: 50px;
    position: relative;
    display: table;
    width: 100%; }
    body footer .logocontainer {
      width: 200px;
      height: 200px;
      margin: 25px auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      position: relative;
      display: inline-block;
      width: 49%; }
    body footer h3 {
      text-align: center; }
    body footer .infocontainer {
      max-width: 280px;
      margin: auto;
      position: relative;
      display: inline-block;
      width: 49%; }
      body footer .infocontainer .contactinformation {
        max-width: 280px;
        margin: auto; }
      body footer .infocontainer a {
        font-weight: 400;
        color: #f2867d;
        text-decoration: none;
        position: relative; }
        body footer .infocontainer a::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-bottom: 1px solid #4a6b83;
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        body footer .infocontainer a:hover::before {
          opacity: 1; }
    @media screen and (max-width: 700px) {
      body footer .logocontainer {
        width: 100%; }
      body footer .infocontainer {
        width: 100%;
        display: block;
        margin: auto; } }
  body .fb-login {
    height: 30px;
    position: fixed;
    display: block;
    bottom: 20px;
    right: 50px;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    text-align: right; }
    body .fb-login:hover {
      opacity: 1.0;
      cursor: pointer; }
    body .fb-login img {
      position: absolute;
      right: -35px;
      top: 0;
      width: 30px;
      height: 30px;
      vertical-align: middle; }
    body .fb-login span {
      color: white; }
      body .fb-login span.login {
        line-height: 30px; }
    body .fb-login a {
      color: white; }
  body .single-sitting {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: table;
    margin-bottom: 15px; }
    body .single-sitting h4 {
      margin: 0; }
    body .single-sitting h2 {
      font-size: 40px;
      color: #333; }
    body .single-sitting .side {
      position: relative;
      display: table-cell; }
      body .single-sitting .side.left {
        padding-top: 20px;
        width: 55%; }
        body .single-sitting .side.left h3 {
          margin: 0;
          font-size: 60px;
          font-weight: 100; }
        body .single-sitting .side.left table {
          padding-right: 30px;
          padding-bottom: 30px; }
          body .single-sitting .side.left table td.right {
            text-align: right; }
          @media screen and (max-width: 750px) {
            body .single-sitting .side.left table {
              padding-right: 0px; } }
        body .single-sitting .side.left a {
          font-weight: 400;
          color: #f2867d;
          text-decoration: none;
          position: relative;
          margin: 5px 40px 10px 0px; }
          body .single-sitting .side.left a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #4a6b83;
            opacity: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
          body .single-sitting .side.left a:hover::before {
            opacity: 1; }
      body .single-sitting .side.right label {
        display: block;
        margin-top: 10px;
        text-align: center;
        font-size: 13px; }
      body .single-sitting .side.right h4 {
        display: block;
        text-align: center;
        margin-bottom: 0px; }
      body .single-sitting .side.right span {
        text-align: center;
        display: block;
        margin-bottom: 15px; }
  @media screen and (max-width: 750px) {
    body .single-sitting .side {
      display: block;
      text-align: center;
      width: 100%; }
      body .single-sitting .side.left {
        padding: 5px;
        width: 100%; }
        body .single-sitting .side.left h3 {
          font-size: 30px; } }
  body .userSettings {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box; }
    body .userSettings .left {
      padding: 20px;
      min-width: 270px;
      width: 35%; }
    body .userSettings .category img {
      width: 100%;
      position: relative;
      display: block;
      background-color: gray; }
    body .userSettings .left .category {
      margin-top: 10px; }
    body .userSettings .left input[type="text"] {
      float: right;
      margin-right: 25px; }
    body .userSettings .left button {
      float: right;
      margin-right: 25px;
      background-color: red;
      border: none;
      font-size: 20px; }
    body .userSettings button:hover {
      cursor: pointer; }
  body .interest-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: table; }
    body .interest-content h2 {
      font-weight: 100;
      font-size: 50px;
      margin-bottom: 0px;
      color: #333; }
    body .interest-content h4 {
      margin: 0; }
    body .interest-content p {
      margin-top: 0; }
    body .interest-content span {
      display: block;
      margin-bottom: 10px; }
  body .booking-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: table;
    text-align: center; }
    body .booking-content h2 {
      font-weight: 100;
      font-size: 50px;
      margin-bottom: 0px; }
    body .booking-content p {
      margin-top: 0; }
    body .booking-content h4 {
      margin: 0; }
    body .booking-content span {
      display: block;
      margin-bottom: 10px; }
  body .party-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: table;
    margin-bottom: 20px; }
    body .party-content h2 {
      color: #333; }
    body .party-content .side {
      position: relative;
      display: table-cell;
      padding: 5px; }
      body .party-content .side.left h4 {
        font-size: 15px;
        display: block;
        margin: 0;
        margin-top: 10px; }
      body .party-content .side.left p {
        margin: 5px 0;
        max-width: 325px; }
      body .party-content .side.right table {
        margin-top: 15px;
        font-size: 12px; }
        body .party-content .side.right table .listtoggle {
          cursor: pointer;
          border: 1px solid gray;
          padding: 2px 5px;
          text-align: center;
          border-radius: 3px;
          opacity: 0.5;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          body .party-content .side.right table .listtoggle:hover {
            opacity: 1; }
  body .btn {
    padding: 15px;
    background-color: #e6e6e6;
    color: #333;
    outline: none;
    text-decoration: none;
    display: block;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    cursor: pointer; }
    body .btn:hover {
      opacity: 1.0;
      border: 1px solid #b3b3b3; }
    body .btn.primary {
      background-color: #104050;
      color: white; }
    body .btn.disabled {
      cursor: not-allowed; }
      body .btn.disabled:hover {
        opacity: 0.7;
        border: 1px solid white; }
  body div.button {
    display: block;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid white;
    cursor: pointer;
    background-color: white;
    padding: 25px;
    margin-top: 15px; }
    body div.button:hover {
      opacity: 1.0;
      border: 1px solid #b3b3b3; }
    body div.button.primary {
      background-color: #104050;
      color: white; }
    body div.button.disabled {
      cursor: not-allowed; }
      body div.button.disabled:hover {
        opacity: 0.7;
        border: 1px solid white; }
  @media screen and (max-width: 750px) {
    body .party-content .side {
      display: block; } }
  body .event-grid {
    margin-left: auto;
    margin-right: auto;
    width: 90%; }
    body .event-grid .event-window {
      opacity: 0.9;
      background-color: white;
      margin-left: 10px;
      margin-top: 10px;
      float: left;
      width: 150px;
      height: 150px;
      -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-align: center;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      box-sizing: border-box;
      border: 1px solid white; }
      body .event-grid .event-window:hover {
        opacity: 1.0; }
      body .event-grid .event-window:hover {
        border: 1px solid #333; }
      body .event-grid .event-window .event-window-link {
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
        color: black;
        width: 100%;
        height: 100%;
        text-decoration: none;
        z-index: 0; }
      body .event-grid .event-window .width {
        width: 150px;
        overflow: hidden; }
        body .event-grid .event-window .width .event-window-date {
          margin-top: 20px;
          font-size: 60px; }
        body .event-grid .event-window .width .event-window-spots {
          margin-top: 5px; }
        body .event-grid .event-window .width .event-window-button {
          margin-top: 5px; }
          body .event-grid .event-window .width .event-window-button a {
            text-decoration: none;
            color: black;
            font-style: italic; }
          body .event-grid .event-window .width .event-window-button a:hover {
            text-decoration: underline; }
        body .event-grid .event-window .width .event-remove-button {
          position: absolute;
          cursor: pointer;
          right: -5px;
          top: -5px;
          border: none;
          border-radius: 59px;
          height: 20px;
          width: 20px;
          -webkit-transition: all 0.1s ease-in-out;
          -moz-transition: all 0.1s ease-in-out;
          -o-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
          padding-left: 7px;
          z-index: 9999; }
          body .event-grid .event-window .width .event-remove-button:hover {
            color: #eee;
            background-color: #333; }
    body .event-grid #event-creator {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 0.9; }
      body .event-grid #event-creator:hover {
        opacity: 1.0; }
    body .event-grid .event-window.created {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      width: 0px; }
    body .event-grid .event-window.created.show {
      opacity: 1;
      width: 150px; }
    body .event-grid .event-window.remove {
      opacity: 0;
      width: 0px; }
    body .event-grid #event-creator p {
      padding: 0;
      margin: 0;
      height: 150px;
      line-height: 140px;
      font-size: 100px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    body .event-grid #event-creator input {
      padding: 0;
      margin: 0;
      border: 0;
      background: transparent;
      outline: none;
      width: 150px;
      height: 120px;
      line-height: 80px;
      font-size: 30px;
      text-align: center; }
    body .event-grid #event-creator p:hover {
      cursor: pointer; }
    body .event-grid #event-creator button {
      position: absolute;
      bottom: 10px;
      border: none;
      width: 25px;
      height: 25px;
      color: transparent; }
    body .event-grid #event-creator button:focus {
      outline: none; }
    body .event-grid #event-creator button:hover {
      cursor: pointer; }
    body .event-grid #event-creator #reject {
      background: url("../images/reject.png") no-repeat;
      background-size: 100% 100%;
      left: 10px; }
    body .event-grid #event-creator #confirm {
      background: url("../images/confirm.png") no-repeat;
      background-size: 100% 100%;
      right: 10px; }

/*# sourceMappingURL=main.css.map */
