.myForm {
  margin: 25px auto;
  width: 90%;
  max-width: 300px; }

input[type=submit], .formcancel {
  display: block;
  text-align: center;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 7px 10px;
  border: 1px solid #ccc; }
  input[type=submit]:hover, .formcancel:hover {
    opacity: 1.0;
    border: 1px solid #b3b3b3; }
  input[type=submit].disabled, .formcancel.disabled {
    cursor: not-allowed; }
    input[type=submit].disabled:hover, .formcancel.disabled:hover {
      opacity: 0.7;
      border: 1px solid white; }
  input[type=submit]:hover, input[type=submit]:focus, .formcancel:hover, .formcancel:focus {
    border: 1px solid #4a6b83; }

input[type=radio] {
  margin: 25px 15px;
  transform: scale(1.1);
  cursor: pointer; }

input[type=checkbox] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  transform: scale(1.1);
  cursor: pointer; }

select {
  outline: none;
  border: 1px solid #ccc;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 5px 10px; }
  select:hover {
    border: 1px solid #4a6b83; }

input[type=email], input[type=password], input[type=text], input[type=url], input[type=tel], input[type=number], textarea {
  display: block;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ccc;
  margin: 5px 0px;
  padding: 10px 5%;
  width: 90%;
  max-width: 250px; }
  input[type=email]:hover, input[type=email]:focus, input[type=password]:hover, input[type=password]:focus, input[type=text]:hover, input[type=text]:focus, input[type=url]:hover, input[type=url]:focus, input[type=tel]:hover, input[type=tel]:focus, input[type=number]:hover, input[type=number]:focus, textarea:hover, textarea:focus {
    border: 1px solid #4a6b83; }

table {
  text-align: left;
  width: 100%; }
  table.fancy {
    border: 1px solid #4a6b83;
    border-spacing: 0;
    border-collapse: collapse; }
    table.fancy th {
      text-align: left;
      padding-top: 5px;
      padding-bottom: 4px;
      background-color: #4a6b83;
      color: #fff; }
    table.fancy th, table.fancy td {
      border: 1px solid #4a6b83;
      padding: 3px 7px 2px 7px;
      box-sizing: border-box; }
  table tr.odd {
    background-color: #dfe7ed; }

.section {
  position: relative;
  display: block;
  background-color: white;
  width: 100%;
  min-height: 200px;
  padding: 15px 25px;
  box-sizing: border-box; }

.bold {
  font-weight: 900; }

.white {
  color: #eee; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  background-color: #333;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vw;
  min-height: 100vh; }
  body h1, body h2, body title {
    font-weight: 100; }
  body .content {
    margin-top: 100px;
    max-width: 712px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    min-height: 400px; }
    body .content .title, body .content h2 {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      font-size: 60px;
      color: white;
      font-weight: 100; }
      @media screen and (max-width: 750px) {
        body .content .title, body .content h2 {
          font-size: 35px; } }
    body .content .button {
      display: block;
      background-color: white;
      padding: 25px;
      margin: 15px 0px;
      text-align: center;
      opacity: 1;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border: 1px solid white;
      cursor: pointer;
      text-decoration: none;
      color: #333; }
      body .content .button.disabled {
        cursor: not-allowed; }
        body .content .button.disabled:hover {
          opacity: 0.7;
          border: 1px solid #eee; }
      body .content .button:hover {
        opacity: 1.0;
        background: #F2867D;
        color: #eee; }
    body .content .btn {
      padding: 15px;
      background-color: #e6e6e6;
      color: #333;
      outline: none;
      text-decoration: none;
      display: block;
      text-align: center;
      opacity: 0.7;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border: 1px solid white;
      cursor: pointer; }
      body .content .btn:hover {
        opacity: 1.0;
        border: 1px solid #b3b3b3; }
      body .content .btn.disabled {
        cursor: not-allowed; }
        body .content .btn.disabled:hover {
          opacity: 0.7;
          border: 1px solid white; }
    body .content div.button {
      display: block;
      text-align: center;
      opacity: 0.7;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border: 1px solid white;
      cursor: pointer;
      background-color: white;
      padding: 25px;
      margin-top: 15px; }
      body .content div.button:hover {
        opacity: 1.0;
        border: 1px solid #b3b3b3; }
      body .content div.button.disabled {
        cursor: not-allowed; }
        body .content div.button.disabled:hover {
          opacity: 0.7;
          border: 1px solid white; }
    body .content .primary {
      background-color: #104050;
      color: white; }
  body .tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #161616;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    opacity: 0.9; }
  body .masterTooltip {
    cursor: help; }
  body .message {
    position: relative;
    display: block;
    width: 90%;
    height: 100px;
    max-width: 712px;
    top: 70px;
    padding: 20px 30px;
    box-shadow: 0px 0px 25px #333;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: auto;
    background-color: #4a6b83;
    color: #eee;
    cursor: pointer; }
    body .message .close {
      position: absolute;
      top: 10px;
      right: 10px; }
  body .header {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #333;
    -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); }
    body .header a {
      color: white;
      font-size: 25px;
      line-height: 55px;
      text-decoration: none;
      display: inline-block;
      margin-left: 10px; }
@keyframes JUMP {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1.1); } }
    body .header .header-button {
      position: fixed;
      z-index: 9000;
      right: 0px;
      top: 0px;
      padding: 0;
      width: 55px;
      height: 55px;
      border: 1px solid #f2867d;
      background-color: #f2867d;
      outline: none;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }
      body .header .header-button:hover {
        border: 1px solid #eee; }
      body .header .header-button .menuloggo {
        position: relative;
        display: block;
        background-image: url("../images/hamburgermenux55.png");
        margin: auto;
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
  body .sidenav {
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    right: -250px;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
   /*   -moz-box-shadow:    inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow:         inset 0 0 10px #000000;
  */ }
    body .sidenav .side-shadow {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 5px;
      background: #000000;
      /* Old browsers */
      background: -moz-linear-gradient(left, #999 0%, #ffffff 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #999 0%, #ffffff 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #999 0%, #ffffff 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999', endColorstr='#ffffff',GradientType=0 );
      /* IE6-9 */ }
    body .sidenav.active {
      right: 0; }
    body .sidenav h1 {
      padding: 15px 30px;
      margin-bottom: 0;
      padding-bottom: 0; }
    body .sidenav #google_translate_element {
      margin-left: 4px;
      margin-top: 10px; }
    body .sidenav .realitem {
      display: block;
      padding: 15px 30px;
      text-decoration: none;
      font-size: 20px;
      color: #4a6b83;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #eee; }
      body .sidenav .realitem:hover {
        background-color: #f2867d;
        color: #eee; }
      body .sidenav .realitem.fb-login {
        font-size: 15px;
        font-weight: 700;
        margin-top: 15px; }
        body .sidenav .realitem.fb-login img {
          vertical-align: middle;
          width: 25px;
          height: 25px;
          border-radius: 3px; }
        body .sidenav .realitem.fb-login span {
          margin-left: 10px; }
      body .sidenav .realitem.fb-logout {
        position: absolute;
        bottom: 10px;
        width: 100%;
        font-size: 15px;
        font-weight: 700; }
    body .sidenav .fb-loggedin {
      padding: 10px;
      margin-top: 15px; }
      body .sidenav .fb-loggedin img {
        width: 30px;
        height: 30px;
        vertical-align: middle;
        border-radius: 100px; }
      body .sidenav .fb-loggedin span {
        font-size: 11px;
        font-weight: 700;
        margin-left: 5px; }
  body .shadow {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: black;
    opacity: 0.0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    body .shadow.active {
      visibility: visible;
      opacity: 0.5; }
  body footer {
    background-color: #333;
    padding: 25px;
    box-sizing: border-box;
    color: #eee;
    margin-top: 50px;
    position: relative;
    display: table;
    width: 100%; }
    body footer h3 {
      text-align: center; }
    body footer .third-column {
      position: relative;
      display: inline-block;
      width: 33%;
      vertical-align: top;
      padding: 0px 10px;
      box-sizing: border-box;
      margin-top: 25px; }
      @media screen and (max-width: 750px) {
        body footer .third-column {
          width: 100%; } }
      body footer .third-column p {
        max-width: 280px;
        margin: 5px auto;
        position: relative;
        display: block; }
    body footer .logocontainer {
      height: 200px;
      margin: 25px auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    body footer .contactinformation a {
      font-weight: 400;
      color: #f2867d;
      text-decoration: none;
      position: relative; }
      body footer .contactinformation a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #4a6b83;
        opacity: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      body footer .contactinformation a:hover::before {
        opacity: 1; }
    @media screen and (max-width: 700px) {
      body footer {
        padding: 50px 0; }
        body footer .logocontainer {
          width: 100%; }
        body footer .infocontainer {
          width: 100%;
          display: block;
          margin: auto; } }
  body .single-sitting {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: table;
    margin-bottom: 15px; }
    body .single-sitting h4 {
      margin: 0; }
    body .single-sitting h2 {
      font-size: 40px;
      color: #333; }
    body .single-sitting .side {
      position: relative;
      display: table-cell; }
      body .single-sitting .side.left {
        padding-top: 20px;
        width: 55%; }
        body .single-sitting .side.left h3 {
          margin: 0;
          font-size: 60px;
          font-weight: 100; }
        body .single-sitting .side.left table {
          padding-right: 30px;
          padding-bottom: 30px; }
          body .single-sitting .side.left table td.right {
            text-align: right; }
          @media screen and (max-width: 750px) {
            body .single-sitting .side.left table {
              padding-right: 0px; } }
        body .single-sitting .side.left a {
          font-weight: 400;
          color: #f2867d;
          text-decoration: none;
          position: relative;
          margin: 5px 40px 10px 0px; }
          body .single-sitting .side.left a::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid #4a6b83;
            opacity: 0;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
          body .single-sitting .side.left a:hover::before {
            opacity: 1; }
      body .single-sitting .side.right label {
        display: block;
        margin-top: 10px;
        text-align: center;
        font-size: 13px; }
      body .single-sitting .side.right h4 {
        display: block;
        text-align: center;
        margin-bottom: 0px; }
      body .single-sitting .side.right span {
        text-align: center;
        display: block;
        margin-bottom: 15px; }
  @media screen and (max-width: 750px) {
    body .single-sitting .side {
      display: block;
      text-align: center;
      width: 100%; }
      body .single-sitting .side.left {
        padding: 5px;
        width: 100%; }
        body .single-sitting .side.left h3 {
          font-size: 30px; } }
  body .userSettings {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box; }
    body .userSettings .left {
      padding: 20px;
      min-width: 270px;
      width: 35%; }
    body .userSettings .category img {
      width: 100%;
      position: relative;
      display: block;
      background-color: gray; }
    body .userSettings .left .category {
      margin-top: 10px; }
    body .userSettings .left input[type="text"] {
      float: right;
      margin-right: 25px; }
    body .userSettings .left button {
      float: right;
      margin-right: 25px;
      background-color: red;
      border: none;
      font-size: 20px; }
    body .userSettings button:hover {
      cursor: pointer; }
  body .interest-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: table; }
    body .interest-content h2 {
      font-weight: 100;
      font-size: 50px;
      margin-bottom: 0px;
      color: #333; }
    body .interest-content h4 {
      margin: 0; }
    body .interest-content p {
      margin-top: 0; }
    body .interest-content span {
      display: block;
      margin-bottom: 10px; }
  body .booking-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: table;
    text-align: center; }
    body .booking-content h2 {
      font-weight: 100;
      font-size: 50px;
      margin-bottom: 0px; }
    body .booking-content p {
      margin-top: 0; }
    body .booking-content h4 {
      margin: 0; }
    body .booking-content span {
      display: block;
      margin-bottom: 10px; }
  body .party-content {
    position: relative;
    display: block;
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 15px 25px;
    box-sizing: border-box;
    display: table;
    margin-bottom: 20px; }
    body .party-content h2 {
      color: #333; }
    body .party-content .side {
      position: relative;
      display: table-cell;
      padding: 5px; }
      body .party-content .side.left h4 {
        font-size: 15px;
        display: block;
        margin: 0;
        margin-top: 10px; }
      body .party-content .side.left p {
        margin: 5px 0;
        max-width: 325px; }
      body .party-content .side.right table {
        margin-top: 15px;
        font-size: 12px; }
        body .party-content .side.right table .listtoggle {
          cursor: pointer;
          border: 1px solid gray;
          padding: 2px 5px;
          text-align: center;
          border-radius: 3px;
          opacity: 0.5;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          body .party-content .side.right table .listtoggle:hover {
            opacity: 1; }
  @media screen and (max-width: 750px) {
    body .party-content .side {
      display: block; } }
  body .event-grid {
    margin-left: auto;
    margin-right: auto;
    width: 90%; }
    body .event-grid .event-window {
      opacity: 0.9;
      background-color: white;
      margin-left: 10px;
      margin-top: 10px;
      float: left;
      width: 150px;
      height: 150px;
      -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      text-align: center;
      position: relative;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      box-sizing: border-box;
      border: 1px solid white; }
      body .event-grid .event-window:hover {
        opacity: 1.0; }
      body .event-grid .event-window:hover {
        border: 1px solid #333; }
      @media screen and (max-width: 750px) {
        body .event-grid .event-window {
          width: 100%; } }
      body .event-grid .event-window .event-remove-button {
        position: absolute;
        cursor: pointer;
        right: -5px;
        top: -5px;
        border: none;
        border-radius: 59px;
        height: 20px;
        width: 20px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        padding-left: 7px;
        z-index: 9999; }
        body .event-grid .event-window .event-remove-button:hover {
          color: #eee;
          background-color: #333; }
      body .event-grid .event-window .event-window-link {
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
        color: black;
        width: 100%;
        height: 100%;
        text-decoration: none;
        z-index: 0; }
      body .event-grid .event-window .width {
        width: 150px;
        overflow: hidden;
        margin: auto; }
        body .event-grid .event-window .width .event-window-date {
          margin-top: 20px;
          font-size: 60px;
          margin-top: 24px;
          margin-bottom: 0; }
        body .event-grid .event-window .width .event-window-spots {
          margin-top: 5px; }
        body .event-grid .event-window .width .event-window-button {
          margin-top: 5px; }
          body .event-grid .event-window .width .event-window-button a {
            text-decoration: none;
            color: black;
            font-style: italic; }
          body .event-grid .event-window .width .event-window-button a:hover {
            text-decoration: underline; }
    body .event-grid #event-creator {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      opacity: 0.9; }
      body .event-grid #event-creator:hover {
        opacity: 1.0; }
    body .event-grid .event-window.created {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      width: 0px; }
      body .event-grid .event-window.created .event-remove-button {
        -webkit-transition-delay: 0.25s;
        -moz-transition-delay: 0.25s;
        -o-transition-delay: 0.25s;
        transition-delay: 0.25s;
        opacity: 0; }
    body .event-grid .event-window.created.show {
      width: 150px; }
      body .event-grid .event-window.created.show .event-remove-button {
        opacity: 1.0; }
    body .event-grid .event-window.remove {
      opacity: 0;
      width: 0px; }
    body .event-grid #event-creator p {
      padding: 0;
      margin: 0;
      height: 150px;
      line-height: 140px;
      font-size: 100px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    body .event-grid #event-creator input {
      padding: 0;
      margin: 0 auto;
      border: 0;
      background: transparent;
      outline: none;
      width: 150px;
      height: 120px;
      line-height: 80px;
      font-size: 30px;
      text-align: center; }
    body .event-grid #event-creator p:hover {
      cursor: pointer; }
    body .event-grid #event-creator button {
      position: absolute;
      bottom: 10px;
      border: none;
      width: 25px;
      height: 25px;
      color: transparent; }
    body .event-grid #event-creator button:focus {
      outline: none; }
    body .event-grid #event-creator button:hover {
      cursor: pointer; }
    body .event-grid #event-creator #reject {
      background: url("../images/reject.png") no-repeat;
      background-size: 100% 100%;
      left: 10px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 0.5; }
      body .event-grid #event-creator #reject:hover {
        opacity: 1; }
      body .event-grid #event-creator #reject:hover {
        opacity: 1; }
    body .event-grid #event-creator #confirm {
      background: url("../images/confirm.png") no-repeat;
      background-size: 100% 100%;
      right: 10px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      opacity: 0.5; }
      body .event-grid #event-creator #confirm:hover {
        opacity: 1; }
  body .restaurant-grid {
    position: relative;
    display: block; }
    body .restaurant-grid a {
      width: 100%;
      box-sizing: border-box;
      height: 250px;
      position: relative;
      display: inline-block;
      padding: 15px;
      text-decoration: none;
      color: #333; }
      @media screen and (max-width: 750px) {
        body .restaurant-grid a {
          width: 100%; } }
      body .restaurant-grid a .restaurant {
        position: relative;
        display: block;
        height: 100%;
        padding: 10px;
        opacity: 0.8;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: transparent; }
        body .restaurant-grid a .restaurant:hover {
          opacity: 1;
          background-color: #4d4d4d; }
        body .restaurant-grid a .restaurant .loggo {
          position: relative;
          display: block;
          width: 100%;
          height: 150px;
          margin: auto;
          box-sizing: border-box;
          background-position: 50% 50%;
          background-size: contain;
          background-repeat: no-repeat; }
        body .restaurant-grid a .restaurant h3 {
          font-size: 20px;
          text-align: center;
          text-transform: uppercase;
          font-weight: 100;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          color: #eee; }

/*# sourceMappingURL=main.css.map */
