



footer{
    background-color: #333;
    padding: 50px;
    color: $white;
    margin-top: 50px;

    .logocontainer{
        width: 200px;
        height: 200px;
        margin: 25px auto;
        background-image: url('../images/vitlogga.gif');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    h3{
        text-align: center;
        
    }
    
    .infocontainer{
        max-width: 280px;
        margin: auto;
    }
    
    .contactinformation{
        max-width: 280px;
        margin: auto;
    }
			
	    a{
        font-weight: 400;
        color: $red;
        text-decoration: none;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid $blue;
            opacity: 0;
            @include easy-trans(0.3s);
        }
        &:hover::before{
            opacity: 1;
        }
    }
}




.fb-login{
	height: 30px;
	position: fixed;
	display: block;
	bottom: 20px;
	right: 50px;
	opacity: 0.6;
	@include easy-trans(0.3s);
	font-size: 13px;
	text-align: right;

	&:hover{
		opacity: 1.0;
		cursor: pointer;
	}

	img{
		position: absolute;
		right: -35px;
		top: 0;
		width: 30px;
		height: 30px;
		vertical-align: middle;
	}
	span{
		color: white;

		&.login{
			line-height: 30px;
		}
	}

	a{
		color: white;
	}
}
