

.sidenav{
	position: fixed;
	height: 100vh;
	width: $sideNavWidth;
	top: 0;
	right: -$sideNavWidth;
	background-color: white;
	@include easy-trans(0.3s);
	box-sizing: border-box;
 /*   -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
*/	
	
	.side-shadow{
		position: absolute;
		display: block;
		top: 0;
		left:0;
		height: 100%;
		width: 5px;

		background: #000000; /* Old browsers */
		background: -moz-linear-gradient(left,  #999 0%, #ffffff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #999 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #999 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	}

	&.active{
		right: 0;
	}

	h1{
		padding: 15px 30px;
		margin-bottom: 0;
    	padding-bottom: 0;
	}

	a{
		display: block;
		padding: 15px 30px;
		text-decoration: none;
		font-size: 20px;
        color: $blue;
        @include easy-trans(0.3s);
        border-bottom: 1px solid #ddd;
    	border-top: 1px solid #eee;
		&:hover{
			background-color: $red;
            color: $white;
		}

		&.fb-login{
			font-size: 15px;
		    font-weight: 700;
		margin-top:15px;

		    img{
		    	vertical-align: middle;
		    	width: 25px;
		    	height: 25px;
		    	border-radius: 3px;
		    }
		    span{
		    	margin-left: 10px;
		    }
		}

		&.fb-logout{
			position: absolute;
		    bottom: 10px;
		    width: 100%;
		    font-size: 15px;
		    font-weight: 700;
		}
	}
	.fb-loggedin{
		padding: 10px;
		margin-top:15px;
		img{
			width: 30px;
			height: 30px;
			vertical-align: middle;
			border-radius: 100px;
		}
		span{
			font-size:11px;
			font-weight: 700;
			margin-left: 5px;
		}
	}
}

.shadow{
	position: fixed;
	display: block;
	width: 100vw;
	height: 100vh;
	top:0;
	left:0;
	visibility: hidden;

	background-color: black;
	opacity: 0.0;
	@include easy-trans(0.3s);

	&.active{
		visibility: visible;
		opacity: 0.5;
	}

}
