


.single-sitting{
	position: relative;
	display: table;
	background-color: white;
	width: 100%;
	min-height: 200px;	

	.side{
		position: relative;
		display: table-cell;

		&.left{

			padding: 20px;
			width: 50%;

			table{
				text-align: center;
			}
		}

		&.right{


		}
	}
}


