.userSettings{
	@include content-bg();

	.left{
		padding: 20px;
		min-width: 270px;
		width: 35%;
	}
	
	.left .category{
		margin-top: 10px;
	}
	
	.left input[type="text"]{
		float: right;
		margin-right: 25px;
	}
	
	.left button{
		float: right;
		margin-right: 25px;
		
		background-color: red;
		border: none;
		font-size: 20px;
	}
	
	button:hover{
		cursor: pointer;
	}
}


