$headerHeight: 50px;
$contentWidth: 850px;

body{
	margin: 0;
	padding: 0;
	
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	
	width: 100%;
	height: 100%;
	background-image: url('../images/table.jpg');
	
	min-height: 100vw;
	min-height: 100vh;
	
	.header {
		height: 55px;
		width: 100%;
		z-index: 1000;
		
		background-color: black;
		
		-moz-box-shadow: 0px 4px 10px rgba(0,0,0,.5);
		-webkit-box-shadow: 0px 4px 10px rgba(0,0,0,.5);
		box-shadow: 0px 4px 10px rgba(0,0,0,.5);
		
		.header-button {
			position: fixed;
			z-index: 9000;
			right: 0px;
			top: 0px;
			padding: 0;
			width: 2.5em;
			height: 2.25em;
			border: none;
			text-indent: 2.5em;
			font-size: 1.5em;
			color: transparent;
			background: transparent;
			outline: none;
		}
		
		.header-button::before {
			position: absolute;
			top: 0.5em;
			right: 0.5em;
			bottom: 0.5em;
			left: 0.5em;
			background: linear-gradient(#FFFFFF 20%, transparent 20%, transparent 40%, #FFFFFF 40%, #FFFFFF 60%, transparent 60%, transparent 80%, #FFFFFF 80%);
			content: '';
		}
		
		.header-button:hover {
			cursor: hand;
			cursor: pointer;
			opacity: 0.6;
		}
	}
		
	.content {
		margin-top: $headerHeight + 10px;
		
		max-width: $contentWidth;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		
		padding-bottom: 50px;
		
		.title {
			height: 100px;
			width: 90%;
			
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			
			text-align: center;
			font-size: 40px;
			color: white;
		}
		
		.event-grid {
			margin-left: auto;
			margin-right: auto;
		
			width: 90%;
	
			.event-window{
				background-color: #FFFFEA;
				margin-left: 10px;
				margin-top: 10px;
				
				display: inline-block;
				width: 150px;
				height: 150px;
				
				-moz-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
				-webkit-box-shadow: 2px 2px 4px rgba(0,0,0,.5);
				box-shadow: 2px 2px 4px rgba(0,0,0,.5);
				
				text-align: center;
		
				.event-window-date{
					margin-top: 10px;
					font-size: 45px;
				}
				.event-window-spots{
					margin-top: 10px;
				}
				.event-window-button{
					margin-top: 15px;
					a {
						text-decoration: none;
						color: black;
						font-style: italic;
					}
					a:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
