// Colors
// =================
$black: #333;
$red: #f2867d;
$blue: #4a6b83;
$lightBlue: lighten($blue, 50%);
$lightGrey: #ccc;
$white: #eee;

// Sizes
// =================
$headerHeight: 50px;
$contentWidth: 712px;
$sideNavWidth: 250px;
$mobileBreak: 750px;

// Mixins
// =================
// Check here all the standard mixins for our website
@import 'mixins';

// Customination
// =================
@import 'form';
@import 'table';

// CSS
// =================

.section{
    @include content-bg();
}

.bold{
	font-weight: 900;
}

.white{
    color: $white;
}

body{
    margin: 0;
    padding: 0;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    
    background-color: $black;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vw;
    min-height: 100vh;    

    .content {
        margin-top: $headerHeight + 50px;
        max-width: $contentWidth;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;

        .title, h2 {
            width: 90%;
            margin: 0 auto;
            text-align: center;
            font-size: 60px;
            color: white;
            font-weight: 100;

            @media screen and (max-width: $mobileBreak) {
                font-size: 35px;
            }
        }

        .button{
            display: block;
            background-color: white;
            padding: 25px;
            margin: 15px 0px;
            text-align: center;
            opacity: 0.7;
            @include easy-trans(0.3s);
            border: 1px solid white;
            cursor: pointer;
            text-decoration: none;
            color: $black;

            &.disabled{
                cursor: not-allowed;

                &:hover{
                    opacity: 0.7;
                    border: 1px solid white;
                }
            }

            &:hover{
                opacity: 1.0;
                border: 1px solid black;
            }
        }

        .btn{
            padding: 15px;
            background-color: darken(white, 10%);
            color: #333;
            outline: none;
            text-decoration: none;
            @include button();
        }
        div.button{
            @include button();
            background-color: white;
            padding: 25px;
            margin-top: 15px;
        }
    }

    // Specific pages
    // =================
    @import 'header';
    @import 'sidenav';
    @import 'footer';
    @import 'singlesitting';
    @import 'usersettings';
    @import 'interest';
    @import 'booking';
    @import 'party';
    @import 'event-grid';
    @import 'restaurant-grid';
}
